.App {
  background: url(../images/bear-bg.jpg) no-repeat;
  background-size: cover;
}
.input {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -209px;
  margin-left: -150px;
}
.logo {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -15px;
  left: -600px;
  font-family: '华文新魏';
}
.logo img {
  width: 200px;
  border-radius: 50%;
  background: #ffffff54;
}

h1 {
  color: #ffffff;
}
.ant-form-item-label > label {
  font-weight: bold;
  color: #ffffff;
}
.ant-form {
  text-align: center;
  display: flex;
  width: 721px;
}
.left,
.right {
  width: 50%;
}
a {
  color: white;
}
a:hover {
  color: red;
}
.ant-btn {
  width: 100%;
}
